!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title AFNetworking - a delightful networking framework for iOS and OSX
    %link{rel: "stylesheet", href: "/css/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}

  %body
    = yield

    %footer
      :markdown
        AFNetworking was created by [Mattt Thompson](http://mattt.me) and is released under the [MIT License](http://opensource.org/licenses/mit-license).

    %a#github.ribbon{href: "https://github.com/AFNetworking/AFNetworking"}
      %img{src: "/images/ribbon.png", alt: "Fork me on GitHub"}