@font-face {
  font-family: "afnetworking";
  src: url("/fonts/afnetworking.eot");
  src: url("/fonts/afnetworking.eot?#iefix") format("embedded-opentype"), url("/fonts/afnetworking.svg#afnetworking") format("svg"), url("/fonts/afnetworking.woff") format("woff"), url("/fonts/afnetworking.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 11, ../sass/_fonts.sass */
[data-icon]:before {
  font-family: "afnetworking";
  content: attr(data-icon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
/* line 18, ../sass/_fonts.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "afnetworking";
  font-style: normal;
  speak: none;
}

/* line 23, ../sass/_fonts.sass */
.icon-twitter:before {
  content: "\40";
}

/* line 26, ../sass/_fonts.sass */
.icon-documentation:before {
  content: "\21";
}

/* line 29, ../sass/_fonts.sass */
.icon-support:before {
  content: "\3f";
}

/* line 32, ../sass/_fonts.sass */
.icon-download:before {
  content: "\26";
}

/* line 1, ../sass/_button.sass */
button#download {
  cursor: pointer;
  float: right;
  margin: 0 0 5px;
  line-height: 28px;
  padding: 0 12px;
  font-size: 11px;
  font-weight: bold;
  color: #7e4f27;
  text-shadow: 0 1px #f2e294;
  border-color: #efb443 #d9a238 #a57825;
  border-width: 1px 1px 0;
  border-style: solid;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px 3px 2px 2px;
  -moz-border-radius: 3px 3px 2px 2px;
  -ms-border-radius: 3px 3px 2px 2px;
  -o-border-radius: 3px 3px 2px 2px;
  border-radius: 3px 3px 2px 2px;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4);
  background-color: #f6ba49;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdd67), color-stop(70%, #f6ba49), color-stop(100%, #f4b03e));
  background-image: -webkit-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
  background-image: -moz-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
  background-image: -ms-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
  background-image: -o-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
  background-image: linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
  width: 257px;
  margin-right: 50px;
  position: relative;
  top: 8px;
}
/* line 4, ../sass/_button.sass */
button#download * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}
/* line 8, ../sass/_button.sass */
button#download div {
  float: left;
  text-align: left;
  padding: 0.5em;
  margin-top: 1em;
}
/* line 14, ../sass/_button.sass */
button#download div strong {
  font-size: 2em;
  line-height: 0.75em;
}
/* line 18, ../sass/_button.sass */
button#download div small {
  font-size: 1em;
}
/* line 50, ../sass/_button.sass */
button#download:hover, button#download:active {
  background: #f6ba49;
  border-top-color: #e5ab3d;
}
/* line 54, ../sass/_button.sass */
button#download:active {
  vertical-align: -5px;
  margin-bottom: 0;
  margin-top: 3px;
  padding: 1px 13px 0;
  border-width: 0;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
}

/* line 33, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 51, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 13, ../sass/screen.sass */
div[role="container"] {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 16, ../sass/screen.sass */
::selection, ::-moz-selection {
  background: #f05423;
  color: #e7e7e7;
}

/* line 20, ../sass/screen.sass */
html {
  background: #f05423 url('/images/bg.png?1344529548');
}
/* line 23, ../sass/screen.sass */
html body {
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.8);
  color: #e7e7e7;
  margin: 10px 0;
  -webkit-background-clip: padding-box;
}
/* line 29, ../sass/screen.sass */
html body a {
  color: #e7e7e7 !important;
}
/* line 32, ../sass/screen.sass */
html body a:hover {
  text-decoration: none;
}

/* line 35, ../sass/screen.sass */
hgroup, div[role="container"] {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 710px;
}

/* line 39, ../sass/screen.sass */
section, footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 42, ../sass/screen.sass */
header {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto 30px auto;
}
/* line 46, ../sass/screen.sass */
header hgroup {
  text-align: center;
}
/* line 49, ../sass/screen.sass */
header hgroup h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url('/images/afnetworking.png?1344631552') center center no-repeat;
  text-indent: -9999px;
  color: transparent;
  height: 225px;
  margin-top: 10px;
}
/* line 57, ../sass/screen.sass */
header hgroup h2 {
  text-shadow: 1px 1px 2px #2d2828;
  font-size: 3em;
  font-weight: 700;
  margin-top: 0;
  color: #e7e7e7;
}
/* line 65, ../sass/screen.sass */
header .call-to-action {
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: 0px 4px 6px #444444, 0px 2px 12px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 4px 6px #444444, 0px 2px 12px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 4px 6px #444444, 0px 2px 12px rgba(0, 0, 0, 0.5) inset;
  padding: 30px 0;
  background: rgba(34, 34, 34, 0.75);
  border-top: 1px #c57f42 solid;
  border-bottom: 1px #c57f42 solid;
}
/* line 73, ../sass/screen.sass */
header ul {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 55px;
}
/* line 147, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header ul {
  overflow-x: hidden;
}
/* line 79, ../sass/screen.sass */
header ul li {
  text-shadow: 0px 1px 1px #101010;
  list-style: none;
  font-size: 1.5em;
}
/* line 84, ../sass/screen.sass */
header ul li a {
  text-decoration: none;
  padding-left: 12px;
}
/* line 88, ../sass/screen.sass */
header ul li a:hover {
  text-decoration: underline;
}
/* line 91, ../sass/screen.sass */
header ul li.icon-documentation a {
  padding-left: 15px;
}
/* line 95, ../sass/screen.sass */
header button {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
}
/* line 147, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header button {
  overflow-x: hidden;
}
/* line 98, ../sass/screen.sass */
header button .symbol {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  font-size: 3em;
  margin-top: 0.625em;
  margin-right: 0.5em;
  margin-left: 0.25em;
  text-align: center;
}
/* line 147, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header button .symbol {
  overflow-x: hidden;
}
/* line 107, ../sass/screen.sass */
header button div span {
  font-size: 1.5em;
  margin-top: -0.325em;
}
/* line 110, ../sass/screen.sass */
header button div small {
  margin-top: -0.75em;
}

/* line 113, ../sass/screen.sass */
.endorsements h1 {
  color: #e7e7e7;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0 0 0.5em 0;
}

/* line 120, ../sass/screen.sass */
.companies {
  overflow: hidden;
  *zoom: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0 auto;
}
/* line 126, ../sass/screen.sass */
.companies li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-right: 40px;
  height: 60px;
  display: block;
}
/* line 147, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .companies li {
  overflow-x: hidden;
}
/* line 132, ../sass/screen.sass */
.companies li:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
  padding-right: 0;
}
/* line 147, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .companies li:last-child {
  overflow-x: hidden;
}
/* line 136, ../sass/screen.sass */
.companies li.github {
  background: url('/images/companies/github.png?1344536552') center center no-repeat;
}
/* line 136, ../sass/screen.sass */
.companies li.pinterest {
  background: url('/images/companies/pinterest.png?1344537639') center center no-repeat;
}
/* line 136, ../sass/screen.sass */
.companies li.heroku {
  background: url('/images/companies/heroku.png?1344536595') center center no-repeat;
}
/* line 136, ../sass/screen.sass */
.companies li.mutual-mobile {
  background: url('/images/companies/mutual-mobile.png?1344537525') center center no-repeat;
}
/* line 136, ../sass/screen.sass */
.companies li.simple {
  background: url('/images/companies/simple.png?1344537769') center center no-repeat;
}
/* line 139, ../sass/screen.sass */
.companies li a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}

/* line 145, ../sass/screen.sass */
footer {
  text-align: center;
  padding-top: 2em;
}

/* line 149, ../sass/screen.sass */
#github.ribbon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
/* line 156, ../sass/screen.sass */
#github.ribbon, #github.ribbon:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: transparent;
}
